*.DS_Store
*.pkg
*~
*#
windows-installers/nesi-tools/nesi-cache/*
*.msi
resources/windows/java_vm
.classpath
.project
target
.settings
derby.log
*.class
nbactions.xml
.pydevproject
*~
nb-configuration.xml
rebel.xml
grisu-server.config
multi-platform/target/*
multi-platform/.settings/*
